<!DOCTYPE html>
<html>
	<head>
		<title>Quiz App</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../static/myscript.js"></script>
	</head>
	
	<body>
		<h1 id="h1">
			Test yourself
		</h1>
     
		<p id="1" class="number"> 
			Question 3
		</p>
   
		<p id="q1" class="question">
			Apollo 11 landed on the Moon in which year?
		</p>
   
		<form action="question-four" runat="server" method="post">
			<input type="radio" value="A" /> 1969
			<input type="radio" value="B" /> 1978
			<input type="submit" value="Submit" />
		</form>
	</body>  
</html>
