<!DOCTYPE html>
<html>
	<head>
		<title>Quiz App</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<h1 id="h1">
			Test yourself
		</h1>
     
		<p id="1" class="number"> 
			Question 1
		</p>
   
		<p id="q1" class="question">
			How many countries are in Europe?
		</p>
   
		<form action="question-two" runat="server" method="POST">
			<input type="radio" name="question1" value="A" checked="checked" /> 37	
			<input type="radio" name="question1" value="B" /> 50	
			<br>
			<input type="radio" name="question1" value="C" /> 12	
			<input type="radio" name="question1" value="D" /> 47	
			<br>
			<input type="submit" value="Submit" />
		</form>
     
	</body>  
</html>
