<!DOCTYPE html>
<html>
	<head>
		<title>Calculus Review</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../static/myscript.js"></script>
	</head>
	
	<body>
		<h1 id="h1">
			Review your Math!
		</h1>
     
		<p id="1" class="number"> 
			Question 1
		</p>
   
		<p id="q1" class="question">
			Is 4 equal to 5?
		</p>
   
		<form id="a1" runat="server" method="post">
			<input type="radio" name="Gender" value="male" id="test" checked="checked" />No, I'm not an idiot
			<input type="radio" name="Gender" value="female" />Yes, of course!
			<input type="submit" value="Submit" />
			<!-- <asp:Button ID="btn" runat="server" Text="value" /> -->
		</form>
     
		<p id="nextButton">
			Move On
		</p>
	</body>  
</html>
