<!DOCTYPE html>
<html>
	<head>
		<title>Quiz App</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<h1 id="h1">
			Test yourself
		</h1>
     
		<p id="1" class="number"> 
			Question 4
		</p>
   
		<p id="q1" class="question">
			Dr. Dre's iconic album "The Chronic" was released in which year?
		</p>
   
		<form action="final" runat="server" method="POST">
			<input type="radio" name="question4" value="A" checked="checked" /> 1988
			<input type="radio" name="question4" value="B" /> 1992
			<br>
			<input type="radio" name="question4" value="C" /> 2001
			<input type="radio" name="question4" value="D" /> 1989
			<br>
			<input type="submit" value="Submit" />
		</form>
	</body>  
</html>
