<!DOCTYPE html>
<html>
	<head>
		<title>Quiz App</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<h1 id="h1">
			Test yourself
		</h1>
     
		<p id="1" class="number"> 
			How did you do?
		</p>
		
		<p> {{finalscore}} </p>
		<p> {{sessionHighScore}} </p>
		<p> High score: 4/4 </p>
		<br>
		<p> {{finishingComment}} </p>
		
		<form action="retest">
			<input type="submit" value="Start Over" />
		</form>
		
	</body>  
</html>
